.the-cars{
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr;
}
.search{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid blue;
    padding: 3px 8px;
    margin-bottom: 10px;
    outline: none;
    background-color: transparent;
}

.car-card{
    width: 100%;
    border: 1px solid blue;
    display: flex;
    border-radius: 5px;
    position: relative;
    margin-bottom: 10px;
}

.car-card img{
    max-width: 300px;
    border-radius: 5px;
}
.car-card button{
    padding: 3px 8px;
    border: none;
    background-color: var(--main-color);
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 18px;
    margin: 3px 8px;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
}
.head{
    display: flex;
    gap: 10px;
    align-items: center;
}
.head, .details{
    padding: 3px 8px;
}
.details{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 10px 0;
}

.car-card .details p, .car-overview .details p{
    width: fit-content;
    background-color: #808080;
    color: whitesmoke;
    font-size: 12px;
    border-radius: 3px;
    padding: 3px 8px;
}
.car-card .details p{
    display: none;
}

.car-card #model, .car-card #year{
    display: block;
}

/* card car overview  */
.car-overview{
    width: fit-content;
    height: 480px;
    border-radius: 5px;
    border: 1px solid blue;
    margin-bottom: 10px;
    position: sticky;
    top: 50px;
}
.car-overview button{
    display: none;
}
.car-overview .head{
    margin-top: 20px;
}
.car-overview img{
    width: 100%;
    border-radius: 5px;
}


/* features loan and compare*/
.features{
    display: flex;
    gap: 10px;
    padding-left: 8px;
    margin-top: 30px;
}
.features div{
    cursor: pointer;
    background-color: blue;
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
}