.the-cars{
    display: flex;
    gap: 10px;
}
.search{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid blue;
    padding: 3px 8px;
    margin-bottom: 10px;
    outline: none;
    background-color: transparent;
}
.show-cars{
    max-width: 70%;
}
.cars-cards{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.car-card{
    min-width: 200px;
    max-width: 300px;
    border: 1px solid blue;
    flex: 1 1 auto;
    border-radius: 5px;
    position: relative;
    padding-bottom: 50px;
}
.car-image{
    height: 200px;
}
.car-card img{
    max-width: 100%;
    border-radius: 5px;
}
.car-card button{
    padding: 3px 8px;
    border: none;
    background-color: var(--main-color);
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 18px;
    margin: 3px 8px;
    position: absolute;
    bottom: 10px;
}
.head, .details{
    padding: 3px 8px;
}
.details{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 10px 0;
    max-width: 250px;
}
.details p{
    width: fit-content;
    background-color: rgb(94, 141, 0);
    color: whitesmoke;
    font-size: 12px;
    border-radius: 3px;
    padding: 3px 8px;
}



.car-overview{
    width: 100%;
    height: 500px;
    border-radius: 5px;
    border: 1px solid blue;
    padding: 3px 8px;
    margin-bottom: 10px;
}
