.landing-page{
    background-color: #eaeaea;
    min-height: 100vh;
    overflow-x: hidden;
}
/*strat navbar*/
nav{
    padding: 22px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 11;
}
.logo{
    font-size: 33px;
    font-weight: bold;
    text-transform: capitalize;
}
.links li a{
    color: #222;
    text-transform: uppercase;
    margin: 0 12px;
    font-weight: 500;
}
.links li:hover a{
    color: var(--main-color)
}
.social li{
    margin: 0 12px;
    z-index: 11;
}
.social li ion-icon{
    color: #eee;
    font-size: 22px;
    transition: .2s;
}
.social li:hover ion-icon{
    transform: scale(1.1);
}
/*start header*/
header{
    padding-top: 150px;
    position: relative;
}
header::before{
    content: '';
    width: 450px;
    height: 600px;
    background-color: var(--main-color);
    transform: rotate(-45deg);
    position: absolute;
    top: -200px;
    right: -280px;
}
header::after{
    content: '';
    width: 330px;
    height: 330px;
    border: 28px solid var(--main-color);
    background-color: #eaeaea;
    transform: rotate(-45deg);
    position: absolute;
    top: 80px;
    right: -60px;
}
img{
    width: 600px;
    position: absolute;
    top: 150px;
    right: -40px;
    z-index: 11;
}
.text{
    width: 70%;
}
h1{
    font-size: 44px;
    text-transform: capitalize;
}
h2{
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 28px;
}
h2 span{
    color: black;
}
p{
    width: 55%;
    color: rgb(65, 64, 64);
    margin: 22px 0;
}
.btn{
    padding: 8px 12px;
    border-radius: 8px;
    width: fit-content;
    background-color: var(--main-color);
    transition: .5s;
    text-transform: capitalize;
}
.btn a{
    color: #fff;
}
.btn:hover{
    transform: scale(.95);
}
